.container {
  width: 95%;
}

.panel {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.panelContainer {
  display: flex;
}

.panelColumn {
  height: 100%;
}

.leftPanel {
  width: 800px;
  padding-right: 15px;
}

.rightPanel {
  width: 100%;
}

.editor {
  height: 800px;
}

.instructions {
  height: 400px;
  overflow-y: scroll;
}
